*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.coverage
.eggs
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
*.sublime-*
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
local/
parts/
src/
var/

# buildout.cfg
buildout.d/site-settings.cfg
pip-selfcheck.json

# OSX
.DS_Store
